@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Great+Vibes&family=Josefin+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,500&display=swap");
/* 
colors:
light green : #7ed56f,
medium green:#55c57a,
dark green: #28b485 
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Great+Vibes&family=Josefin+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

html {
  font-size: 64.5%;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes moveBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: 2rem;
  }
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6745098039), rgba(40, 180, 133, 0.7215686275)), url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header__logo {
  width: 100%;
  cursor: pointer;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.header .heading__primary {
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.header .heading__primary--main {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  display: block;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  color: white;
}
.header .heading__primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 19.4px;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  color: white;
}
.header .btn {
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
}
.header .btn::link, .header .btn::visited {
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}
.header .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}
.header .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.header .btn--white {
  margin-top: 6rem;
  background-color: #fff;
  color: #777;
  -webkit-animation-name: moveBottomToTop;
          animation-name: moveBottomToTop;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  padding: 10px 40px;
}
.header .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* 
colors:
light green : #7ed56f,
medium green:#55c57a,
dark green: #28b485 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

html {
  font-size: 64.5%;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.4s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  z-index: 100;
  transform: scale(1.01) translateY(-0.5rem);
  outline: 1.5rem solid #55c57a;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-right: 1.5rem;
}
.card {
  width: 250px;
  height: 300px;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;
}
.card__front-desc ul {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 1.5rem;
}
.card__front-desc ul li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  width: 50%;
}
.card:hover .card__front {
  transform: rotateY(180deg);
}
.card:hover .card__back {
  transform: rotateY(0);
}
.card__front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  transition: all 0.4s;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.card__front-img {
  width: 100%;
  height: 40%;
  background-position: center;
  background-size: cover;
}
.card__front-img-1 {
  background-image: url(/img/nat-6.jpg);
}
.card__front-img-2 {
  background-image: url(/img/nat-7.jpg);
}
.card__front-img-3 {
  background-image: url(/img/nat-8.jpg);
}
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  right: 0;
  transition: all 0.4s;
}
.card__back-1 {
  background-image: linear-gradient(to right bottom, #8e2de2, #4a00e0);
}
.card__back-2 {
  background-image: linear-gradient(to right bottom, #DECBA4, #3E5151);
}
.card__back-3 {
  background-image: linear-gradient(to right bottom, #122b3e, #1c1d22);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.section-about .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-features {
  padding: 20rem;
  overflow: hidden;
}

.section-tour {
  overflow: hidden;
}
.section-tour .section__heading {
  font-size: 5rem;
  text-align: center;
}
.section-tour .section__heading .heading__secondary {
  background-image: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.section-tour .card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-features {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.5), rgba(126, 213, 111, 0.8)), url(/img/nat-4.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  color: black;
}
.section-features .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}/*# sourceMappingURL=main.css.map */