.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            #7ed56fac, #28b485b8),
        url(/img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &__logo {
        width: 100%;
        cursor: pointer;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    .heading__primary {
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;

        &--main {
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 35px;
            display: block;
            animation-name: moveInRight;
            animation-duration: 3s;
            color: white;
        }

        &--sub {
            display: block;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 19.4px;
            animation-name: moveInLeft;
            animation-duration: 3s;
            color: white;
        }
    };

    

    .btn {
        border-radius: 30px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 40px;

        &::link,
        &::visited {
            display: inline-block;
            transition: all .2s;
            position: relative;
        };

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px 10px rgba(0, 0, 0, .2); 
        };

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        };

        &--white {
            margin-top: 6rem;
            background-color: #fff;
            color: #777;
            animation-name: moveBottomToTop;
            animation-duration: 3s;
            animation-delay: .75s;
            animation-fill-mode: backwards;
            padding: 10px 40px;
        };

        

        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }
}