.section-about {
    background-color: $color-light-gray-1;
    padding: 25rem 0;
    margin-top: -20vh;

    .row {
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.section-features {
    padding: 20rem;
    overflow: hidden;
}

.section-tour {
    overflow: hidden;
    .section__heading{
        font-size: 5rem;
        text-align: center;
        .heading__secondary{
            background-image: linear-gradient(to right, red, yellow);
            background-clip: text;
            color: transparent;
        }
    }

    .card-wrapper {
        
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}